<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".fbx" />
            <mimeMap fileExtension=".fbx" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>